<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934110563741-nd8l31874489u0lh374djdra36qq5q9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934110563741-nd8l31874489u0lh374djdra36qq5q9j</string>
	<key>API_KEY</key>
	<string>AIzaSyDusunN4Gkm2kjvpQWGw17CI6VRGbUsFjs</string>
	<key>GCM_SENDER_ID</key>
	<string>934110563741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vednovak.Threads-Clone</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-55990</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-55990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934110563741:ios:78b33bc3d62a1c4cce3374</string>
</dict>
</plist>